@import'./base.css';
p{font-weight: 800;
    font-family: 'Sawarabi Mincho', serif;
    margin-top: 01px;}

.gallery-item
{margin-block: 30px;
}

img {
    border-style: ridge;
}
.mySlides {display:none;
   width:100%
   }

.w3-content{
    max width: 800px;
}
