@import'./base.css';
p{font-weight: 500;
    font-family: 'Arima', cursive;;
    margin-top: 01px;}

.gallery-item
{margin-block: 30px;

}

img {
    border-style: ridge;
}
.mySlides {display:none;
   width:100%
   }

.w3-content{
    width: 800px;
}
#banner{ width: 100%}
