@import'./base.css';
p{font-weight: 600;
    margin-top: 01px;}

.gallery-items
{
    margin-bottom: 30px;
}
.footer {
    display: grid;
    align-items: center;
    text-align: center;
    background: rgb(152, 100, 143);
  }
