@import'./base.css';
p{font-weight: 600;
    margin-top: 01px;}

.gallery-items
{margin-block: 30px;
}
footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    background: rgb(152, 100, 143);
  }

