import /@base.css
* {
    box-sizing: border-box;
  }

p{font-weight: 600;
     font-family: 'Sawarabi Mincho', serif;
    margin-top: 01px;}

.gallery-item
{margin-block: 30px;
}

img {
    border-style: ridge;
}
  
  .col-6{
    width: 100%;
    height: auto;
  }
  
  
.animation{
                    width: 1000px;
                    height: 363px;
                    background-size: cover;
                    position: static;
                    left: 950px;
                    top: 475px;
                
                animation-name: woosh;
                animation-duration: 20s;
                animation-delay:0s;
                animation-iteration-count: infinite;
                animation-direction:normal;
                animation-timing-function:ease-in-out;
                animation-fill-mode:initial;
            }
            @keyframes woosh {
                0%   {background-image:url(img/closetbarbie.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
                20% {background-image: url(img/closet2.jpg); left:950px; top:475px; width: 1000px; height: 363px;}   
                40%  {background-image:url(img/barbie.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
                60%  {background-image:url(img/closetbarbie.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
                80%  {background-image:url(img/closet2.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
                100%  {background-image:url(img/barbie.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
            }
