import /@base.css
* {
    box-sizing: border-box;
  }
  
  video {
    width: 100%;
    height: auto;
  }
  
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
 
.animation{
                    width: 1000px;
                    height: 363px;
                    background-size: cover;
                    position: static;
                    left: 950px;
                    top: 475px;
                
                animation-name: woosh;
                animation-duration: 20s;
                animation-delay:0s;
                animation-iteration-count: infinite;
                animation-direction:normal;
                animation-timing-function:ease-in-out;
                animation-fill-mode:initial;
            }
            @keyframes woosh {
                0%   {background-image:url(img/closetbarbie.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
                20% {background-image: url(img/closet2.jpg); left:950px; top:475px; width: 1000px; height: 363px;}   
                40%  {background-image:url(img/barbie.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
                60%  {background-image:url(img/closetbarbie.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
                80%  {background-image:url(img/closet2.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
                100%  {background-image:url(img/barbie.jpg); left:950px; top:475px; width: 1000px; height: 363px;}
            }
