
@import'./base.css';
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.sn{
  text-align: center;
  font-family: 'Edu SA Beginner', cursive;
  font-size: 55px;
}
.text{
  font-family: 'Roboto Condensed', sans-serif; 
  height: 200px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 20px;
    border: 0px 
}
.filial{
    text-align: center;
    height: 220px;
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
    border: 2px dashed black;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    flex-direction: column;
}
ul.a {
    list-style-type: square;
  }
  ul.b {
    list-style-type:circle;
  }
