@import'./base.css';
body {margin: 0;}

body {
    margin: 0;
  }
  
  .w3-container:hover
      
  {
          -webkit-transform: scale(2.0);
          -ms-transform: scale(0.9);
          transform: scale(0.9);
  }
